body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: #e5e7eb;
}