body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.header,
.one,
.two,
.three,
.four,
.footer {
    flex: 1;
}

.header {
    flex: 0 0 auto;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 256px;
}

.logo {
    color: #f9faf8;
    font-size: 32px;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: end;
    gap: 32px;
}

li {
    list-style: none;
    color: #e5e7eb;
    font-size: 24px;
}

.one {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    padding: 140px 256px;
}

.a {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 8px;
    max-width: 552px;
}

.top {
    color: #f9faf8;
    font-size: 64px;
    font-weight: 900;
}

.mid {
    color: #e5e7eb;
    font-size: 22px;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 12px;
    border: none;
    padding: 6px 48px;
    font-size: 18px;
}

.one>img {
    height: 280px;
    width: 704px;
    background-color: #6d747d;
    color: white;
    line-height: 280px;
    text-align: center;
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b {
    padding-top: 48px;
    margin-bottom: -48px;
    font-size: 48px;
    font-weight: bold;
}

.pic-w-text {
    display: flex;
    justify-content: center;
    gap: 56px;
    padding: 96px 0;
}

.pic2 {
    height: 216px;
    width: 216px;
    border: 4px solid #3882f6;
    border-radius: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.content>div {
    font-size: 22px;
    color: #727a85;
    text-align: center;
    max-width: 216px;
}

.three {
    background-color: #e5e7eb;
    padding: 128px 430px 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 45px;
    font-weight: 100;
    font-style: italic;
}

.author {
    font-size: 28px;
    font-weight: 800;
    align-self: flex-end;
    padding-right: 50px;
}

.four {
    background-color: #3882f6;
    border-radius: 12px;
    margin: 96px 256px;
    padding: 48px 160px;
    display: flex;
    justify-content: space-between;
}

.call {
    font-size: 28px;
    color: #f9faf8;
    font-weight: bold;
}

.product {
    font-size: 20px;
    color: #f9faf8;
}

.four>button {
    border: 1px solid #f9faf8;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 96px;
}

.copyright {
    color: #e5e7eb;
    font-size: 20px;
}